<div class="main-grid">
  <% for i in 0..2 do %>
  <div class = "wrapper">
    <h2><%= @cakes[i].name %></h2>
    <div class = "products">
        <img src="<%= @cakes[i].image %>">
        <p><%= @cakes[i].description %></p>
        <p><%= @cakes[i].calories %></p>
        <p><%= @cakes[i].price %></p>
    </div>
  </div>
  <% end %>

</div>
