<div class="main-grid">
<% for i in 0..3 do %>
<div class="grid-container">
  <img src="<%= %>">
  <div>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
    <p><%=  %></p>
  </div>
</div>
<% end %>
</div>
