<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Amiri|Nanum+Myeongjo|Neuton|Playfair+Display+SC|Rokkitt|Vidaloka&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to Aj Bakery, Dear Customer</h1>
    <p>
      You have successfully subscribed. Our lovely menus are as below.
    <p>
      <img src="menu.jpg" height="300" width="300">
      <!-- <table>
        <thead>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">price</th>
        </thead>
        <tbody>

        </tbody>
      </table>

        <% for i in 0..2 do %>
        <tr>
          <td scope="row">Cookie</td>
          <td><%= @cookies[i].name %></td>
          <td><%= "#{@cookies[i].calories}" %> for $<%= @cookies[i].price %></td>
        </tr>
        <% end %>
        <% for i in 0..2 do %>
        <tr>
          <td scope="row">Cookie</td>
          <td><%= @cakes[i].name %></td>
          <td><%= "#{@cakes[i].calories}" %> for $<%= @cakes[i].price %></td>
        </tr>
        <% end %>
        <% for i in 0..2 do %>
        <tr>
          <td scope="row">Cookie</td>
          <td><%= @muffins[i].name %></td>
          <td><%= "#{@muffins[i].calories}" %> for $<%= @muffins[i].price %></td>
        </tr>
        <% end %>
         -->
  </body>
</html>
